<style type="text/css">
    .box-controls {
        padding: 5px;
    }
    .btn-header {
        height: 34px;
    }
</style>
@layout("/layouts/bk-base.html") {
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        项目管理
        <small>浏览</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Silver Bullet</a></li>
        <li><a href="#">专题云管理</a></li>
        <li><a href="#">专题云项目管理</a></li>
        <li class="active">项目管理</li>
    </ol>
</section>

<div id="data-list-content">
    @include("/projectInfo/listContent.html"){}
</div>

<script src="${ctxPath}/static/silverbullet/js/specialcloudproject/projectInfo.js"></script>
@}