<div>
    <h4 id="msg" style="color: red;"></h4>
    <form id="formSpecialcloudstore" class="m-t" role="form" method="post">
              <input type="hidden" name="id" class="form-control" value="${obj.id!}">
             <div class="form-group">
                 <label>version</label><label style="color: red;" id="msg-version"></label>
                 <input type="text" name="version" class="form-control" value="${obj.version!}" placeholder="version" required="">
             </div>
             <div class="form-group">
                 <label>author</label><label style="color: red;" id="msg-author"></label>
                 <input type="text" name="author" class="form-control" value="${obj.author!}" placeholder="author" required="">
             </div>
             <div class="form-group">
                 <label>createDate</label><label style="color: red;" id="msg-createDate"></label>
                 <input type="text" name="createDate" class="form-control" value="${obj.createDate!}" placeholder="createDate" required="">
             </div>
             <div class="form-group">
                 <label>remark</label><label style="color: red;" id="msg-remark"></label>
                 <input type="text" name="remark" class="form-control" value="${obj.remark!}" placeholder="remark" required="">
             </div>
             <div class="form-group">
                 <label>reportStatus</label><label style="color: red;" id="msg-reportStatus"></label>
                 <input type="text" name="reportStatus" class="form-control" value="${obj.reportStatus!}" placeholder="reportStatus" required="">
             </div>
             <div class="form-group">
                 <label>storetech</label><label style="color: red;" id="msg-storetech"></label>
                 <input type="text" name="storetech" class="form-control" value="${obj.storetech!}" placeholder="storetech" required="">
             </div>
             <div class="form-group">
                 <label>storetype</label><label style="color: red;" id="msg-storetype"></label>
                 <input type="text" name="storetype" class="form-control" value="${obj.storetype!}" placeholder="storetype" required="">
             </div>
             <div class="form-group">
                 <label>storeurl</label><label style="color: red;" id="msg-storeurl"></label>
                 <input type="text" name="storeurl" class="form-control" value="${obj.storeurl!}" placeholder="storeurl" required="">
             </div>
             <div class="form-group">
                 <label>updateDate</label><label style="color: red;" id="msg-updateDate"></label>
                 <input type="text" name="updateDate" class="form-control" value="${obj.updateDate!}" placeholder="updateDate" required="">
             </div>
             <div class="form-group">
                 <label>updator</label><label style="color: red;" id="msg-updator"></label>
                 <input type="text" name="updator" class="form-control" value="${obj.updator!}" placeholder="updator" required="">
             </div>
             <div class="form-group">
                 <label>microStoreId</label><label style="color: red;" id="msg-microStoreId"></label>
                 <input type="text" name="microStoreId" class="form-control" value="${obj.microStoreId!}" placeholder="microStoreId" required="">
             </div>
             <div class="form-group">
                 <label>name</label><label style="color: red;" id="msg-name"></label>
                 <input type="text" name="name" class="form-control" value="${obj.name!}" placeholder="name" required="">
             </div>
             <div class="form-group">
                 <label>storefrom</label><label style="color: red;" id="msg-storefrom"></label>
                 <input type="text" name="storefrom" class="form-control" value="${obj.storefrom!}" placeholder="storefrom" required="">
             </div>
             <div class="form-group">
                 <label>storesource</label><label style="color: red;" id="msg-storesource"></label>
                 <input type="text" name="storesource" class="form-control" value="${obj.storesource!}" placeholder="storesource" required="">
             </div>
    </form>
</div>